# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDE
*.iml
.idea/
*.vscode/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
**/.env
**/.dockerignore

# Node.js (if used in frontend)
node_modules/
build/
dist/
.env.local
.env.development.local
.env.production.local

# Others
*.db
